# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = douyu.settings

[deploy]
#url = http://localhost:6800/
#url = http://192.168.126.147:6801/
project = douyu
#username = enlong
#password = test
